.cardContainer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.containerTop,.containerBottom{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    width: 90%;
}
.card1{
    width:47%;
    height: 30%;
    padding-bottom: 10px;
    transition: all .5s ease;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card1-img{
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}
.img1{
    height: 350px;
    width: 100%  ;
    object-fit: fill;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
.card1-desc{
    font-size: 18px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.card2{
    width:32%;
    height: 25%;
    transition: all .5s ease;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card2-img{
    margin-bottom: 10px;
    object-fit: contain;
}
.img2{
    height: 250px;
    width: 100% ;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
}
.card2-desc{
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
.card1:hover , .card2:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 960px) {
    .containerTop,.containerBottom{
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .card1,.card2{
        width:60%;
        margin: 15px;
    }
    .img1,.img2{
        height: 350px;
        width: 100%;
    }
    .card1:hover , .card2:hover{
        transform: scale(1.05);
    }
    .card2-desc,.card1-desc{
        font-size: 16px;
    }
}
@media screen and (max-width: 700px){
    .img1,.img2{
        height: 280px;
        width: 100%;
    }
    .card2-desc,.card1-desc{
        font-size: 15px;
        padding: 5px;
    }
}
@media screen and (max-width: 500px){
    .containerTop,.containerBottom{
        width: 100%
    }
    .img1,.img2{
        height: 250px;
        width: 100%;
    }
    .card2-desc,.card1-desc{
        font-size: 13px;
        padding: 4px;
    }
}
@media screen and (max-width: 400px){
    .containerTop,.containerBottom{
        width: 100%
    }
    .img1,.img2{
        height: 180px;
        width: 100%;
    }
    .card2-desc,.card1-desc{
        font-size: 12px;
        padding: 4px;
    }
}
@media screen and (max-width: 300px){
    .containerTop,.containerBottom{
        width: 100%
    }
    .img1,.img2{
        height: 150px;
        width: 100%;
    }
    .card2-desc,.card1-desc{
        font-size: 10px;
        padding: 2px;
    }
}