.topbar{
    display: flex;
    width: 100vw;
    background-color: #000000;
    height: 55px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 5;
    position: fixed;
}
.logo{
    padding: 10px;
    flex: 2;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
.content{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 5%;
}
.classes{
    margin-right: 8%;
    padding: 5px;
    font-size: 20px;
}
.classes:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
}
.credential{
    flex: 1.5;
    display: flex;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 18px;
    justify-content: space-around;

}

.signup{
    padding: 8px;
    border: 1px solid white;
    transition: 0.5s ease-in-out;
}
.login{
    transition: 0.5s ease-in-out;
    padding: 8px;
    border: 1px solid white;
}
.signup:hover{
    transform: scale(1.02);
}
.login:hover{
    transform: scale(1.02);
}
.hamburgar{
   display: none;
   transition: all 2s ease ;
}


@media screen and (max-width: 960px) {
    .topbar{
        display: flex;
        width: 100vw;
        background-color: black;
        color: white;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .logo{
        flex: 1;
        padding: 10px;
        font-weight: bold;
        font-size: 24px;
    }
    .content{
        display:none
    }
    .credential{
        flex: 2;
        display: flex;
        justify-content: flex-end;
    }
    .left{
        display: none;
    }
    .right .hamburger{
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        width: 28px;
        height: 24px;
        justify-content: space-between;
        cursor: pointer;
    }
    .hamburger span{
        width: 100%;
        height: 10%;
        background-color: white; 
        transform-origin: left;
        transition: all 0.2s ease ;
    }
    .hamburgar.active {
        z-index: 999;
}
    .hamburger.active span:first-child{
        transform: rotate(45deg);
    }
     .hamburger.active span:nth-child(2){
        opacity: 0;
    }
   .hamburger.active span:last-child{
        transform: rotate(-45deg);
    }
}